
@media only screen and (min-width: 300px) {

/* Header Section */

body {
  background-color: #f6d0ea;
}

header {
  padding: 20px 20px 20px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FFB7E8
}

figure {
  margin: 0px;
  padding: 0px;
}

img{
  height: 200px;
  width: 100%;
  background-image: url("./assets/images/rm209-ning-17-l.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navigation {
  display: flex;
  width: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
  color: white;
}

#navigation a {
  cursor: pointer;
  text-decoration: none;
}

.hero-banner {
  position: relative;
}

.caption {
  background-color: #ec4cb9;
  color: #FFFFFF;
  position: absolute;
  bottom: 50px;
  right: 20px;
}

/* Main body section */

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#about {
  display: flex;
  width: 100%;
}

#aboutme {
  display: flex;
  padding-left: 6.9%;
  padding-right: 20px;
}


.bio {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 110px;
  padding-right: 300px;
}

#work {
  display: flex;
  width: 66%;
}

#mywork {
  padding-right: 20px;
  padding-left: 40%;
}

#categoryGrid {
  margin: 0px 20%;
  padding-left: 0px;
  margin-top: 0%;
  margin-left: 0%;
  width: 4000px;
  display: grid;
  grid-template-rows: 400px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon"
  "prework soundcloud"
  "ph1 ph2"
  ;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#horiseon {
  grid-area: horiseon;
  background-image: url(../images/abstract-futuristic-school-classroom.jpg);
}

#prework {
  grid-area: prework;
  background-image: url("../images/02-portfolio-3.jpg");
}

#soundcloud {
  grid-area: soundcloud;
  background-image: url("../images/greeting-card-white-pink-rose-petals.jpg");
}

#ph1 {
  grid-area: ph1;
  background-image: url("../images/human-hand-studio.jpg");
}

#ph2 {
  grid-area: ph2;
  background-image: url("../images/top-view-colorful-hearts-studio.jpg");
}

.gridHeading {
  background-color: rgba(224, 117, 193, 0.7);
  padding: 5px;
  height: 20px;
  color: white;
  font-size: 15px;
  border-bottom: 5px solid #ff00dd;
  text-align: right;
}

.flex_item {
  padding: 10px;
  margin: 10px;
  color: white;
}

.flex {
  display: flex;
  padding: 10px;
  margin: 10px;
}

#row {
  flex-direction: row;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#contact {
  display: flex;
  width: 70%;
}

#myinfo {
  display: flex;
  width: 2000px;
  flex-grow: 10;
  align-items: center;
  padding-left: 430px;
  justify-content: space-evenly;
  margin: 0px -30%;
}

#myinfo a {
  color: black;
}

#contact h2 {
  width: 25%;
  font-weight: 500;
}

#contactme {
  padding-right: 20px;
}

.exp {
  color: #ec4cb9;
  text-align: right;
  border-right: 3px solid #FFB7E8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
}